MONGO_URI=mongodb+srv://fxalpha:v8X6E8Hb8iBa6Lb9@sentimentmatrix.6rs217y.mongodb.net/?appName=SentimentMatrix
IG_API_KEY=2bf0943d8b07a81eb6c21a6e819e0dd19f20c3b9
IG_USERNAME=IgSentiment
IG_PASSWORD=Sentimentpass85!
IG_API_URL=https://demo-api.ig.com/gateway/deal
